.contactUsMain {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to right, rgb(18, 186, 155), rgb(19, 127, 152), rgb(7, 83, 165));
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactUsContent {
    display: flex;
    flex-direction: column;
    width: 40vw;
    padding: 1rem;
    box-shadow: 2px 5px 12px 0px rgba(0, 0, 0, 0.76);
    background-color: white;
    border-radius: 0.5rem;
    border: 1px solid #42f5dd;
}


@media (max-width: 1000px) {
    .contactUsContent {
        width: 50vw;
    }
}

@media (max-width: 600px) {
    .contactUsContent {
        margin: 1rem;
        width: 90vw;
    }
}
